/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

#second-row {
  display: grid;
  grid-template-columns: 65% 30%;
  column-gap: 5%;
  background-color: rgba(0,0,0,0)
}

#third-row {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3.333%;
  background-color: rgba(0,0,0,0)
}

#fourth-row {
  display: grid;
  grid-template-columns: 15% 20% 20% 20%;
  column-gap: 5%;
  background-color: rgba(0,0,0,0)
}



